node_modules
.next
out
build
.git
.github
.vercel
.env
.env*.local
.env.development
.env.production
npm-debug.log*
*.tsbuildinfo
next-env.d.ts
Dockerfile
docker-compose.yml
.dockerignore
README.md
.DS_Store
