# dependencies
node_modules/

# next.js
.next/
out/
build/
next-env.d.ts
*.tsbuildinfo

# env (keep .env.example)
.env
.env*.local
.env.development
.env.production

# logs
npm-debug.log*

# misc
.DS_Store
.vercel
coverage/
